<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Teams List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--/*/ <th:block th:include="template.html :: stylesheet"></th:block> /*/-->
</head>
<body>
<div class="all">
    <header>
        <div th:insert="~{template :: header}"></div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-2">

                </div>
                <div class="col-10">
                    <h2>Teams List</h2>
                    <table class="table table-bordered table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Team name</th>
                            <th>Team color</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tr th:each="team : ${teams}">
                            <td th:utext="${team.id}">..</td>
                            <td th:utext="${team.teamName}">..</td>
                            <td th:utext="${team.teamColor}">..</td>
                            <td>
                                <a th:href="@{/updateTeam(teamID=${team.id})}"><i
                                        class="bi bi-file-earmark-text"></i></a>
                            </td>
                            <td>

                            </td>
                        </tr>
                    </table>
                    <a class="btn btn-primary" th:href="@{/createTeam}" role="button">Create <i
                            class="bi bi-file-earmark-plus"></i></a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div th:insert="~{template :: footer}"></div>
    </footer>
</div>
</body>
</html>