<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Tracking List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--/*/ <th:block th:include="template.html :: stylesheet"></th:block> /*/-->
</head>
<body>
<div class="all">
    <header>
        <div th:insert="~{template :: header}"></div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div th:insert="~{template_nav :: menu}"></div>
                </div>
                <div class="col-10">
                    <h2>Tracking List</h2>
                    <div class="col container mb-2">
                        <div class="col-2">
                            <label for="size">Size:</label>
                            <select onchange="myFunction(this)" class="form-select" id="size">
                                <option th:each="size : ${sizes}" th:value="${size}" th:text="${size}"
                                        th:selected="${size==pageSize}"></option>
                            </select>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Start time</th>
                            <th>End time</th>
                            <th>Tracking note</th>
                            <th>Task</th>
                            <th>User</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tr th:each="tracking : ${trackings}">
                            <td th:utext="${tracking.id}">..</td>
                            <td th:utext="${tracking.startTime}">..</td>
                            <td th:utext="${tracking.endTime}">..</td>
                            <td th:utext="${tracking.trackingNote}">..</td>
                            <td th:utext="${tracking.task.taskName}">..</td>
                            <td th:utext="${tracking.user}">..</td>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <ul class="pagination">
                                <li th:class="${page == 1} ? 'page-item disabled' : 'page-item'">
                                    <a class="page-link" th:href="@{/reports(page=1, size=${pageSize})}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li th:if="${totalPages > 0}" class="page-item"
                                    th:each="pageNumber : ${pageNumbers}"
                                    th:class="${pageNumber == page} ? 'page-item active' : 'page-item'">
                                    <a th:href="@{/reports(page=${pageNumber}, size=${pageSize})}"
                                       th:text="${pageNumber}"
                                       class="page-link"></a>
                                </li>
                                <li th:class="${page == totalPages} ? 'page-item disabled' : 'page-item'">
                                    <a class="page-link" th:href="@{/reports(page=${totalPages}, size=${pageSize})}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div th:insert="~{template :: footer}"></div>
    </footer>
    <script>
        function myFunction(selectObject) {
            var url = new URL(window.location.href);
            var value = selectObject.value;
            url.searchParams.set('size', value);
            location.href = url.href;
        }
    </script>
</div>
</body>
</html>